h1{color: brown;
text-align: center;
}


#fruit1{background-color: orange;}
#veg1{background-color: red;}
#fruit2{background-color: red;}
#veg2{background-color: purple;}
#fruit3{background-color:yellow;}
#veg3{background-color:  orange;}
